* {
  margin: 0;
  padding: 0;
}
body {
  background: #000;
}
section {
  padding-top: 3rem;
}
footer {
  padding-top: 6rem;
}
.space {
  display: flex;
  justify-content: center;
  gap: 45px;
  align-items: center;
}